.form_page {
  width: 70%;
  margin: 0 auto;
  font-family: "poppins";
}

.form_header {
  font-weight: 700;
  text-align: center;
  margin: 20px 0;
}

.listing_form {
  /* width: 70%; */
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  row-gap: 30px;;
}

.listing_form * {
  box-sizing: border-box;
  text-indent: 20px;
}

.flex_row {
  flex: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.flex_item {
  min-width: 100px;
  flex: 100%;
  /* display: inline-block; */
}

.listing_form input, .listing_form select, .listing_form textarea
 {
  border: 1px solid gray;
  border-radius: 50px;
  text-indent: 20px;
}

select {
  width: 100%;
  height: 30px;
}

.description {
  flex: 100%
}

.form_button {
  flex: 100%;
  text-indent: 0;
}

div button {
  width: 100%;
}

/* mobile to desktop */
@media (width >= 500px) {
  .flex_item {
    flex: 20%;
  }

  /* .listing_form {
    background: gray;
  } */
}
