.form_page {
	width: 90%;
}

.form_header {
	text-align: center;
	margin-block: 20px;
}

.listing_form {
}

.listing_form input,
.listing_form textarea {
	border-radius: 5px;
	margin-block: 0.5em;
	font-weight: 300;
	font-style: normal;
	width: 100%;
}

.flex_row {
	display: flex;
	flex-direction: column;
	gap: 0.5em;
	margin-bottom: 0.5em;
}

.flex_item {
	flex: 1;
}

.listing_form input,
.listing_form select,
.listing_form textarea {
	border: 1px solid rgba(128, 128, 128, 0.408);
	border-radius: 5px;
	width: 100%;
	padding: 1em;
}

.flex_item select {
	width: 100%;
	padding-block: 0.3em;
	margin-block: 0.5em;
	font-weight: 300;
}

.description {
	flex: 100%;
}

.listing_form_buttons {
	width: 100%;
	margin-bottom: 1em;
	height: 10vh;
	display: flex;
	flex-direction: column;
	gap: 0.5em;
}

@media (min-width: 768px) {
	.flex_row {
		flex-direction: row;
	}
	.listing_form_buttons {
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}
}
@media (min-width: 992px) {
	.navbar_search_product_mobile {
		display: flex;
		justify-content: center;
	}

	.flex_row {
		display: flex;
		background-color: blue;
	}
}
