.profile_form {
  width: 50%;
  margin: 20px auto;
  flex-direction: column;
}
.profile_form * {
  flex: 100%;
}

#email {
  color: rgb(189, 187, 187);
}

.flex_item textarea {
  width: 100%;
  padding-top: 10px;;
}

.checkbox_row {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.checkbox_row label{
  text-align: center;
}