.profile_form {
	/* flex: 100%; */
width: 50%;
}
.form_page {
  height: fit-content;
}

.flex_item textarea {
	/* width: 100%; */
	/* padding-top: 10px; */
}
/* 
.checkbox_row {
	display: flex;
	justify-content: space-around;
	align-items: center;
} */

.checkbox_row label {
	text-align: center;
}

@media (min-width: 768px) {
	
}
