.navbar {
	background-color: var(--dark);
	height: 100%;
	padding-inline: 1em;

}

.navbar_mobile {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
	width: 100%;
	color: var(--light);
}
.navbar_logo {
	text-decoration: none;
	color: var(--light);
}

.navbar_search_icon_menu_icon_container {
	display: flex;
	align-items: center;
	gap: 15px;
}
.navbar_searchbar,
.nav_menu_icon {
	display: block;
}
.nav_menu_icon {
	font-size: 2em;
}

/* Mobile Menu */
.navbar_mobile_menu {
	position: fixed;
	overflow: hidden;
	visibility: hidden;
	top: 0;
	bottom: 0;
	right: 0;
	height: 100vh;
	width: 300px;
	background-color: var(--dark);
	margin: 0;
	opacity: 0;
	transform: translateX(100%);
	transition: all 150ms ease-in-out;
	box-shadow: -1px 0px 10px 1px #6d6b6b85;
}

.navbar_search_product_mobile {
	position: fixed;
	overflow: hidden;
	visibility: hidden;
	top: 0;
	bottom: 0;
	right: 0;
	height: 100vh;
	width: 100%;
	background-color: var(--light);
	margin: 0;
	opacity: 0;
	transform: translateX(100%);
	transition: all 150ms ease-in-out;
	box-shadow: -10px 0px 10px 1px #aaaaaa85;
}

.navbar_mobile_menu.active,
.navbar_search_product_mobile.active {
	right: 0;
	transform: translateX(0);
	opacity: 1;
	z-index: 5;
	visibility: visible;
}

.navbar_mobile_menu_backdrop {
	backdrop-filter: blur(2px);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	height: 100vh;
	width: 100%;
	display: none;
	transition: opacity 150ms ease-in-out;
	z-index: 2;
}

.navbar_mobile_menu_backdrop.active {
	display: block;
}

.no_scroll {
	overflow-y: hidden;
}
.navbar_desktop {
	display: none;
}
.navbar_desktop_bottom_search_bar {
	border: 1px solid rgba(128, 128, 128, 0.392);
	border-radius: 20px;
	padding-inline: 1em;
	width: 40%;
}
/* Medium devices (tablets) */
@media (min-width: 768px) and (max-width: 991.98px) {
}
@media (min-width: 768px) {
	.navbar_mobile {
		display: none;
	}
	.navbar_logo {
		color: var(--dark);
	}
	.navbar {
		background-color: var(--light);
		padding-inline: 1em;
		padding-inline: 0;
	}
	.navbar_desktop {
		display: block;
		position: relative;
	}
	.navbar_container_desktop {
		color: var(--light);
	}

	.navbar_desktop_top {
		background-color: var(--dark);
		color: var(--light);
		display: flex;
		justify-content: end;
		padding: 10px 3em;
	}
	.navbar_desktop_bottom {
		color: var(--dark);
		display: grid;
		grid-template-columns: 10% 1fr;
		padding: 10px 3em;
	}
	.navbar_desktop_bottom_navigation {
		display: flex;
		justify-self: end;
		justify-content: space-between;
		width: 80%;
		align-items: center;
	}

	.auth_btn_container {
		display: flex;
		gap: 1em;
	}
	.link_item {
		border-bottom: 1px solid transparent;
		transition: all 250ms ease-in-out;
	}
	.link_item:hover {
		border-bottom: 1px solid var(--light);
	}
}

/* Large devices (desktops) */
@media (min-width: 992px) {
	.navbar_search_product_mobile {
		display: flex;
		justify-content: center;
	}
}
