.nav_mobile {
	display: grid;
	grid-template-rows: 10% 1fr 15%;
  height: 100%;
}

.navbar_mobile_menu_header {
	display: flex;
	justify-content: space-between;
	color: var(--light);
	padding: 1em;
}
.links {
	color: var(--light);
	font-size: 16px;
	display: grid;
	padding: 1em;
}

.link_item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	cursor: pointer;
	padding: 10px 0px;
}


.navbar_footer{
  display: flex;
  flex-direction: column;
  padding-inline: 1em;
  gap: 1em;
}