.search {
	color: var(--dark);
	height: 100%;
	display: grid;
	row-gap: 2em;
	grid-template-rows: 5% 10% 1fr;
	padding: 15px 10px;
}

.search_logo_container {
	text-align: center;
}

.search_header {
	display: grid;
	grid-template-columns: 1fr 10%;
}

.search_searchbar {
	all: unset;
	display: block;
	border: 1px solid rgba(0, 0, 0, 0.217);
	border-radius: 10px;
	padding: 1px 10px;
	height: 1.5em;
}

.search_results {
	overflow-y: auto;
	display: grid;
	justify-content: space-between;
	grid-template-columns: 1fr 1fr;
}

/* Add responsiveness */
@media (min-width: 600px) {
	.search_results {
		overflow-y: auto;
		display: grid;
		row-gap: 0;
		grid-template-columns: repeat(3, 1fr);
	}
}
@media (min-width: 768px) {
	.search_results {
		overflow-y: auto;
		display: grid;
		row-gap: 0;
		grid-template-columns: repeat(3, 1fr);
	}
}

@media (min-width: 992px) {
	.search {
		width: 80%;
		max-width: 992px;
	}
	.search_results {
		font-size: small;
	}
}
