@tailwind base;
@tailwind components;
@tailwind utilities;

/* colors */
:root {
	--light: #ffffff;
	--dark: #1a1a1a;
	--dark-hover: #313131;
	--accent: #ff3131;
}

body {
	background-color: var(--light);
}

/* links */
a {
	text-decoration: none;
	color: var(--light);
}

/* buttons */
.btn {
	all: unset;
	background-color: white;
	padding: 0.5em 2em;
	font-size: 16px;
	border-radius: 15px;
	text-align: center;
	cursor: pointer;
	display: block;
	font-family: "Poppins", sans-serif;
	/* width: 100%; */
}

.global_card {
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	padding: 10px 1em;
}

.global_input_field {
	border: 1px solid rgba(128, 128, 128, 0.468);
	padding-inline: 0.5em;
}

.btn_bg_light {
	background-color: var(--light);
	color: var(--dark);
	transition: all 150ms ease-in-out;
}
.btn_bg_light:hover {
	background-color: var(--accent);
	color: var(--light);
}
.btn_bg_dark {
	background-color: var(--dark);
	color: var(--light);
	transition: all 150ms ease-in-out;
}

.btn_bg_dark:hover {
	background-color: var(--accent);
}
.btn_mute_light {
	background-color: transparent;
	border: 1px solid var(--light);
	color: var(--light);
	transition: all 150ms ease-in-out;
}

.btn_mute_light:hover {
	background-color: var(--accent);
	color: var(--light);
}
.btn_mute_dark {
	background-color: transparent;
	border: 1px solid var(--dark);
	color: var(--dark);
	transition: all 250ms ease-in-out;
}

.btn_mute_dark:hover {
	border: 1px solid transparent;
	background-color: var(--accent);
	color: var(--light);
}

/* All fonts classes */
.poppins-thin {
	font-family: "Poppins", sans-serif;
	font-weight: 100;
	font-style: normal;
}

.poppins-extralight {
	font-family: "Poppins", sans-serif;
	font-weight: 200;
	font-style: normal;
}

.poppins-light {
	font-family: "Poppins", sans-serif;
	font-weight: 300;
	font-style: normal;
}

.poppins-regular {
	font-family: "Poppins", sans-serif;
	font-weight: 400;
	font-style: normal;
}

.poppins-medium {
	font-family: "Poppins", sans-serif;
	font-weight: 500;
	font-style: normal;
}

.poppins-semibold {
	font-family: "Poppins", sans-serif;
	font-weight: 600;
	font-style: normal;
}

.poppins-bold {
	font-family: "Poppins", sans-serif;
	font-weight: 700;
	font-style: normal;
}

.poppins-extrabold {
	font-family: "Poppins", sans-serif;
	font-weight: 800;
	font-style: normal;
}

.poppins-black {
	font-family: "Poppins", sans-serif;
	font-weight: 900;
	font-style: normal;
}

.poppins-thin-italic {
	font-family: "Poppins", sans-serif;
	font-weight: 100;
	font-style: italic;
}

.poppins-extralight-italic {
	font-family: "Poppins", sans-serif;
	font-weight: 200;
	font-style: italic;
}

.poppins-light-italic {
	font-family: "Poppins", sans-serif;
	font-weight: 300;
	font-style: italic;
}

.poppins-regular-italic {
	font-family: "Poppins", sans-serif;
	font-weight: 400;
	font-style: italic;
}

.poppins-medium-italic {
	font-family: "Poppins", sans-serif;
	font-weight: 500;
	font-style: italic;
}

.poppins-semibold-italic {
	font-family: "Poppins", sans-serif;
	font-weight: 600;
	font-style: italic;
}

.poppins-bold-italic {
	font-family: "Poppins", sans-serif;
	font-weight: 700;
	font-style: italic;
}

.poppins-extrabold-italic {
	font-family: "Poppins", sans-serif;
	font-weight: 800;
	font-style: italic;
}

.poppins-black-italic {
	font-family: "Poppins", sans-serif;
	font-weight: 900;
	font-style: italic;
}

/* Logo  */
.nikedas_full_logo {
	height: 20px;
}

/* End buttons */

/* css reset normalization */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
